__pycache__/
*.pyc
.ipynb_checkpoints/
raporlar/
loglar/*
!loglar/.gitkeep
artifacts/logs/*
# genel artifacts çıktıları
artifacts/
# Excel binaries
*.xlsx
veri_guncel_fix/**
!veri_guncel_fix/.gitkeep
!veri_guncel_fix/data/.gitkeep
