cachetools==5.5.2
click==8.1.8
numpy==2.0.2
openpyxl==3.1.5
pandas==2.2.2
pandas-ta-openbb
openbb
loguru==0.7.3
plotly==6.2.0
portalocker==3.2.0
filelock==3.18.0
requests==2.32.4
psutil==7.0.0
PyYAML==6.0.2
xlsxwriter==3.2.5
