anyio==4.9.0
black==25.1.0
coverage==7.9.2
h11==0.16.0
hypothesis==6.135.24
idna==3.10
iniconfig==2.1.0
isort==6.0.1
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging>=23,<25
pathspec==0.12.1
pluggy==1.6.0
pydantic==2.9.2
jedi>=0.16
Pygments==2.19.1
pyright==1.1.402
pytest==8.4.0
pytest-timeout==2.4.0
responses==0.25.7
ruff==0.11.13
sniffio==1.3.1
typing_extensions==4.14.1
pyarrow==19.0.1
loguru==0.7.3
flake8-bugbear==24.4.26
