pandas==1.5.3          # Numpy 1.x ile uyumlu
numpy<2.0              # ABI çakışmasını engeller
pandas-ta==0.3.14b0    # Pandas 1.5 ve Numpy 1.x ile wheel’ı var
holidays               # tarih/tatil kontrolü
openpyxl>3.1
xlsxwriter>=3.1
pytest>=7.4.0
